/* Write your styles */
body {
  background: #f9f9f9 none repeat scroll 0 0;
  font-size: 1.4rem;
}

.newfooter {  background: #333 none repeat scroll 0 0;  color: #fff;  border-color: #ddd;  border-style: solid;  border-width: 0 0 1px;  min-height: 50px;  position: relative;}
.newfooter a {  color: #fff;}
.newfooter a:hover {  color: #fe8301;}

/*颜色*/
.dark { color: #333!important; }
.white { color: #fff!important; }
.red { color: #dd5a43!important; }
.light-red { color: #f77!important; }
.blue { color: #478fca!important; }
.light-blue { color: #93cbf9!important; }
.green { color: #69aa46!important; }
.light-green {color: #b0d877!important; }
.orange {color: #ff892a!important; }
.light-orange { color: #fcac6f!important; }
.orange2 { color: #feb902!important; }
.purple { color: #a069c3!important; }
.pink { color: #c6699f!important; }
.pink2 { color: #d6487e!important; }
.brown { color: #a52a2a!important; }
.grey { color: #777!important; }

.index .box { background-color: #fff; border: 0.5rem solid #f9f9f9; padding: 2rem 1rem; }

.webdir { padding: 1rem 1rem 2rem;-webkit-box-shadow: 0 8px 30px rgba(0,0,0,.08); box-shadow: 2px 8px 30px rgba(0,0,0,.08); background-color: #fff; }
.webdir .tag h3{font-size: 1.4rem;font-weight: 400;/* color: #fff; */margin: 10px 0;padding: 0;/* float: left; */}
.webdir .tag p{padding: 0.5rem 0;font-size: 1.2rem;overflow: hidden;margin: 0;}
.webdir .tag p a{background: #0070A8;font-size:1.2rem;margin: 0 0.3rem 1rem;color: #fff;padding: 0.4rem 1rem;display: block;float: left;}
.webdir .tag p a:hover{background:#08c;}
.webdir .am-thumbnail { box-shadow: 0 0 3px rgba(0, 0, 0, 0.35); padding: 5px; }
.webdir .am-thumbnail h3 { background: #fff none repeat scroll 0 0; border-bottom: 1px solid #f2f2f2; height: 38px; line-height: 38px; padding: 0 10px; }
.webdir .am-thumbnail h3:hover { color:#ff7e26; opacity:0.8; }
.webdir .am-thumbnail img { height:200px; width:100%;}
.webdir .am-thumbnail p { height: 55px; overflow: hidden; padding:0.8rem; }
.webdir .am-thumbnail p a { color: #666; padding: 2px 3px; white-space: nowrap; }
.webdir .am-thumbnail p a:hover { background: #ffa466; color: #fff; opacity:0.8; }

.qrcode { padding: 1rem 1rem 2rem;-webkit-box-shadow: 0 8px 30px rgba(0,0,0,.08); box-shadow: 2px 8px 30px rgba(0,0,0,.08); background-color: #fff; }
.qrcode .tag h3{font-size: 1.4rem;font-weight: 400;/* color: #fff; */margin: 10px 0;padding: 0;/* float: left; */}
.qrcode .tag p{padding: 0.5rem 0;font-size: 1.2rem;overflow: hidden;margin: 0;}
.qrcode .tag p a{background: #0070A8;font-size:1.2rem;margin: 0 0.3rem 1rem;color: #fff;padding: 0.4rem 1rem;display: block;float: left;}
.qrcode .tag p a:hover{background:#08c;}
.qrcode .am-gallery-item img { height:150px;}

.article { padding: 1rem 1rem 2rem;-webkit-box-shadow: 0 8px 30px rgba(0,0,0,.08); box-shadow: 2px 8px 30px rgba(0,0,0,.08); background-color: #fff; }
.article .team-box {/* margin: 1rem 0; */text-align: left; background-color: #fff;border: 0.5rem solid #F9F9F9; height:120px;}
.article .team-box .team-tx{padding: 0;text-align: center;}
.article .team-box .team-tx img{max-width: 100%;margin: 0 0 1rem; height:100px;}
.article .team-box .team-js h5{padding: 0;margin: 0;font-size: 1.6rem;}
.article .team-box .team-js h3{padding: 0;margin: 0;font-size: 1.4rem;}
.article .team-box .team-js span{font-size: 1.2rem;/* margin-left: 10px; */font-weight: normal}
.article .team-box p{font-size: 1.4rem;color: #666;margin: 1rem 0 0;/* overflow:hidden; */}
.article .team-box p a{background: #eaeaea;font-size:1.2rem;margin: 0 0.5rem  1rem 0;color: #666;padding: 0.3rem 1rem;/* display: block; *//* float: left; */}
.article .team-box p a:hover{background:#08c;color:#fff}

/*案例详情标签标题*/
.article .tag h3{font-size: 1.4rem;font-weight: 400;/* color: #fff; */margin: 10px 0;padding: 0;/* float: left; */}
.article .tag p{padding: 0.5rem 0;font-size: 1.2rem;overflow: hidden;margin: 0;}
.article .tag p a{background: #0070A8;font-size:1.2rem;margin: 0 0.3rem 1rem;color: #fff;padding: 0.4rem 1rem;display: block;float: left;}
.article .tag p a:hover{background:#08c;}


.article .article-title{font-size: 24px;text-indent: 10px;font-weight: normal}
.article .am-article-meta{text-indent: 10px}
.article .article-text{padding: 10px}
.article .article-text img{width: 100%;max-width: 100%;height: auto}
.article  .content{font-size: 1.4rem;line-height: 28px;color: #444}
.article  .content{font-size: 1.6rem;line-height: 200%;color: #444}
.article  .content h2{font-size: 1.8rem;line-height: 28px;margin:1.5rem 0;font-weight:400;}
.article  .content h3{font-size: 1.8rem;line-height: 28px;margin:1.5rem 0;font-weight: 500;background-color: #F9F9F9;padding: 1rem;color: #0070A8;}
.article  .content img{width: 100%!important;height: auto!important;}
.article  .content .a_img{text-align: center;}
.article  .content .a_img img{text-align: center;width:100%}
.article  .content .a_img li{text-align: center;border: 5px solid #FFF;}
.article  .content .p_img{text-align: center;}
.article  .content .p_img img{text-align: center;width:100%}

.diypage { padding: 1rem 1rem 2rem;-webkit-box-shadow: 0 8px 30px rgba(0,0,0,.08); box-shadow: 2px 8px 30px rgba(0,0,0,.08); background-color: #fff; }

/* */
.lazy {
 margin: 10px auto;
 background: url("http://amazeui.github.io/lazyload/examples/img/loading.gif") no-repeat center center;
}